In [1]:
!pip install -U --pre pycaret

Requirement already satisfied: pycaret in ./venv/lib/python3.10/site-packages (3.0.0rc9)
Requirement already satisfied: numba>=0.55.0 in ./venv/lib/python3.10/site-packages (from pycaret) (0.56.4)
Requirement already satisfied: importlib-metadata>=4.12.0 in ./venv/lib/python3.10/site-packages (from pycaret) (6.0.0)
Requirement already satisfied: tqdm>=4.62.0 in ./venv/lib/python3.10/site-packages (from pycaret) (4.65.0)
Requirement already satisfied: schemdraw>=0.14 in ./venv/lib/python3.10/site-packages (from pycaret) (0.15)
Requirement already satisfied: category-encoders>=2.4.0 in ./venv/lib/python3.10/site-packages (from pycaret) (2.6.0)
Requirement already satisfied: ipython>=5.5.0 in ./venv/lib/python3.10/site-packages (from pycaret) (8.11.0)
Requirement already satisfied: cloudpickle in ./venv/lib/python3.10/site-packages (from pycaret) (2.2.1)
Requirement already satisfied: plotly-resampler>=0.7.2.2 in ./venv/lib/python3.10/site-packages (from pycaret) (0.8.4rc1)
Requirement already satisfied: scikit-learn>=1.0 in ./venv/lib/python3.10/site-packages (from pycaret) (1.2.1)
Requirement already satisfied: pyod>=0.9.8 in ./venv/lib/python3.10/site-packages (from pycaret) (1.0.7)
Requirement already satisfied: pandas<1.6.0,>=1.3.0 in ./venv/lib/python3.10/site-packages (from pycaret) (1.5.3)
Requirement already satisfied: sktime>=0.15.0 in ./venv/lib/python3.10/site-packages (from pycaret) (0.16.1)
Requirement already satisfied: scipy<2.0.0 in ./venv/lib/python3.10/site-packages (from pycaret) (1.10.1)
Requirement already satisfied: statsmodels>=0.12.1 in ./venv/lib/python3.10/site-packages (from pycaret) (0.13.5)
Requirement already satisfied: jinja2>=1.2 in ./venv/lib/python3.10/site-packages (from pycaret) (3.1.2)
Requirement already satisfied: ipywidgets>=7.6.5 in ./venv/lib/python3.10/site-packages (from pycaret) (8.0.4)
Requirement already satisfied: yellowbrick>=1.4 in ./venv/lib/python3.10/site-packages (from pycaret) (1.5)
Requirement already satisfied: tbats>=1.1.0 in ./venv/lib/python3.10/site-packages (from pycaret) (1.1.2)
Requirement already satisfied: xxhash in ./venv/lib/python3.10/site-packages (from pycaret) (3.2.0)
Requirement already satisfied: deprecation>=2.1.0 in ./venv/lib/python3.10/site-packages (from pycaret) (2.1.0)
Requirement already satisfied: psutil>=5.9.0 in ./venv/lib/python3.10/site-packages (from pycaret) (5.9.4)
Requirement already satisfied: imbalanced-learn>=0.8.1 in ./venv/lib/python3.10/site-packages (from pycaret) (0.10.1)
Requirement already satisfied: pmdarima!=1.8.1,<3.0.0,>=1.8.0 in ./venv/lib/python3.10/site-packages (from pycaret) (2.0.2)
Requirement already satisfied: matplotlib>=3.3.0 in ./venv/lib/python3.10/site-packages (from pycaret) (3.6.3)
Requirement already satisfied: scikit-plot>=0.3.7 in ./venv/lib/python3.10/site-packages (from pycaret) (0.3.7)
Requirement already satisfied: nbformat>=4.2.0 in ./venv/lib/python3.10/site-packages (from pycaret) (5.7.3)
Requirement already satisfied: lightgbm>=3.0.0 in ./venv/lib/python3.10/site-packages (from pycaret) (3.3.5)
Requirement already satisfied: kaleido>=0.2.1 in ./venv/lib/python3.10/site-packages (from pycaret) (0.2.1)
Requirement already satisfied: joblib>=1.2.0 in ./venv/lib/python3.10/site-packages (from pycaret) (1.2.0)
Requirement already satisfied: requests>=2.27.1 in ./venv/lib/python3.10/site-packages (from pycaret) (2.28.2)
Requirement already satisfied: markupsafe>=2.0.1 in ./venv/lib/python3.10/site-packages (from pycaret) (2.1.2)
Requirement already satisfied: numpy<1.25,>=1.21 in ./venv/lib/python3.10/site-packages (from pycaret) (1.23.5)
Requirement already satisfied: plotly>=5.0.0 in ./venv/lib/python3.10/site-packages (from pycaret) (5.13.1)
Requirement already satisfied: patsy>=0.5.1 in ./venv/lib/python3.10/site-packages (from category-encoders>=2.4.0->pycaret) (0.5.3)
Requirement already satisfied: packaging in ./venv/lib/python3.10/site-packages (from deprecation>=2.1.0->pycaret) (23.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in ./venv/lib/python3.10/site-packages (from imbalanced-learn>=0.8.1->pycaret) (3.1.0)
Requirement already satisfied: zipp>=0.5 in ./venv/lib/python3.10/site-packages (from importlib-metadata>=4.12.0->pycaret) (3.15.0)
Requirement already satisfied: decorator in ./venv/lib/python3.10/site-packages (from ipython>=5.5.0->pycaret) (5.1.1)
Requirement already satisfied: pygments>=2.4.0 in ./venv/lib/python3.10/site-packages (from ipython>=5.5.0->pycaret) (2.14.0)
Requirement already satisfied: appnope in ./venv/lib/python3.10/site-packages (from ipython>=5.5.0->pycaret) (0.1.3)
Requirement already satisfied: pickleshare in ./venv/lib/python3.10/site-packages (from ipython>=5.5.0->pycaret) (0.7.5)
Requirement already satisfied: matplotlib-inline in ./venv/lib/python3.10/site-packages (from ipython>=5.5.0->pycaret) (0.1.6)
Requirement already satisfied: backcall in ./venv/lib/python3.10/site-packages (from ipython>=5.5.0->pycaret) (0.2.0)
Requirement already satisfied: pexpect>4.3 in ./venv/lib/python3.10/site-packages (from ipython>=5.5.0->pycaret) (4.8.0)
Requirement already satisfied: traitlets>=5 in ./venv/lib/python3.10/site-packages (from ipython>=5.5.0->pycaret) (5.9.0)
Requirement already satisfied: stack-data in ./venv/lib/python3.10/site-packages (from ipython>=5.5.0->pycaret) (0.6.2)
Requirement already satisfied: jedi>=0.16 in ./venv/lib/python3.10/site-packages (from ipython>=5.5.0->pycaret) (0.18.2)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in ./venv/lib/python3.10/site-packages (from ipython>=5.5.0->pycaret) (3.0.38)
Requirement already satisfied: ipykernel>=4.5.1 in ./venv/lib/python3.10/site-packages (from ipywidgets>=7.6.5->pycaret) (6.21.1)
Requirement already satisfied: jupyterlab-widgets~=3.0 in ./venv/lib/python3.10/site-packages (from ipywidgets>=7.6.5->pycaret) (3.0.5)
Requirement already satisfied: widgetsnbextension~=4.0 in ./venv/lib/python3.10/site-packages (from ipywidgets>=7.6.5->pycaret) (4.0.5)
Requirement already satisfied: wheel in ./venv/lib/python3.10/site-packages (from lightgbm>=3.0.0->pycaret) (0.38.4)
Requirement already satisfied: contourpy>=1.0.1 in ./venv/lib/python3.10/site-packages (from matplotlib>=3.3.0->pycaret) (1.0.7)
Requirement already satisfied: kiwisolver>=1.0.1 in ./venv/lib/python3.10/site-packages (from matplotlib>=3.3.0->pycaret) (1.4.4)
Requirement already satisfied: python-dateutil>=2.7 in ./venv/lib/python3.10/site-packages (from matplotlib>=3.3.0->pycaret) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in ./venv/lib/python3.10/site-packages (from matplotlib>=3.3.0->pycaret) (4.38.0)
Requirement already satisfied: pyparsing>=2.2.1 in ./venv/lib/python3.10/site-packages (from matplotlib>=3.3.0->pycaret) (3.0.9)
Requirement already satisfied: cycler>=0.10 in ./venv/lib/python3.10/site-packages (from matplotlib>=3.3.0->pycaret) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in ./venv/lib/python3.10/site-packages (from matplotlib>=3.3.0->pycaret) (9.4.0)
Requirement already satisfied: jsonschema>=2.6 in ./venv/lib/python3.10/site-packages (from nbformat>=4.2.0->pycaret) (4.17.3)
Requirement already satisfied: jupyter-core in ./venv/lib/python3.10/site-packages (from nbformat>=4.2.0->pycaret) (5.2.0)
Requirement already satisfied: fastjsonschema in ./venv/lib/python3.10/site-packages (from nbformat>=4.2.0->pycaret) (2.16.3)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in ./venv/lib/python3.10/site-packages (from numba>=0.55.0->pycaret) (0.39.1)
Requirement already satisfied: setuptools in ./venv/lib/python3.10/site-packages (from numba>=0.55.0->pycaret) (67.1.0)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.10/site-packages (from pandas<1.6.0,>=1.3.0->pycaret) (2022.7.1)
Requirement already satisfied: tenacity>=6.2.0 in ./venv/lib/python3.10/site-packages (from plotly>=5.0.0->pycaret) (8.2.2)
Requirement already satisfied: dash<3.0.0,>=2.2.0 in ./venv/lib/python3.10/site-packages (from plotly-resampler>=0.7.2.2->pycaret) (2.8.1)
Requirement already satisfied: jupyter-dash>=0.4.2 in ./venv/lib/python3.10/site-packages (from plotly-resampler>=0.7.2.2->pycaret) (0.4.2)
Requirement already satisfied: orjson<4.0.0,>=3.8.0 in ./venv/lib/python3.10/site-packages (from plotly-resampler>=0.7.2.2->pycaret) (3.8.7)

Requirement already satisfied: trace-updater>=0.0.8 in ./venv/lib/python3.10/site-packages (from plotly-resampler>=0.7.2.2->pycaret) (0.0.9)
Requirement already satisfied: Flask-Cors<4.0.0,>=3.0.10 in ./venv/lib/python3.10/site-packages (from plotly-resampler>=0.7.2.2->pycaret) (3.0.10)
Requirement already satisfied: Werkzeug<=2.1.2 in ./venv/lib/python3.10/site-packages (from plotly-resampler>=0.7.2.2->pycaret) (2.1.2)
Requirement already satisfied: urllib3 in ./venv/lib/python3.10/site-packages (from pmdarima!=1.8.1,<3.0.0,>=1.8.0->pycaret) (1.26.14)
Requirement already satisfied: Cython!=0.29.18,!=0.29.31,>=0.29 in ./venv/lib/python3.10/site-packages (from pmdarima!=1.8.1,<3.0.0,>=1.8.0->pycaret) (0.29.33)
Requirement already satisfied: six in ./venv/lib/python3.10/site-packages (from pyod>=0.9.8->pycaret) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in ./venv/lib/python3.10/site-packages (from requests>=2.27.1->pycaret) (2022.12.7)
Requirement already satisfied: charset-normalizer<4,>=2 in ./venv/lib/python3.10/site-packages (from requests>=2.27.1->pycaret) (3.0.1)
Requirement already satisfied: idna<4,>=2.5 in ./venv/lib/python3.10/site-packages (from requests>=2.27.1->pycaret) (3.4)
Requirement already satisfied: deprecated>=1.2.13 in ./venv/lib/python3.10/site-packages (from sktime>=0.15.0->pycaret) (1.2.13)
Requirement already satisfied: dash-table==5.0.0 in ./venv/lib/python3.10/site-packages (from dash<3.0.0,>=2.2.0->plotly-resampler>=0.7.2.2->pycaret) (5.0.0)
Requirement already satisfied: dash-html-components==2.0.0 in ./venv/lib/python3.10/site-packages (from dash<3.0.0,>=2.2.0->plotly-resampler>=0.7.2.2->pycaret) (2.0.0)
Requirement already satisfied: Flask>=1.0.4 in ./venv/lib/python3.10/site-packages (from dash<3.0.0,>=2.2.0->plotly-resampler>=0.7.2.2->pycaret) (2.1.3)
Requirement already satisfied: dash-core-components==2.0.0 in ./venv/lib/python3.10/site-packages (from dash<3.0.0,>=2.2.0->plotly-resampler>=0.7.2.2->pycaret) (2.0.0)
Requirement already satisfied: wrapt<2,>=1.10 in ./venv/lib/python3.10/site-packages (from deprecated>=1.2.13->sktime>=0.15.0->pycaret) (1.15.0)
Requirement already satisfied: pyzmq>=17 in ./venv/lib/python3.10/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (25.0.0)
Requirement already satisfied: debugpy>=1.6.5 in ./venv/lib/python3.10/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (1.6.6)
Requirement already satisfied: tornado>=6.1 in ./venv/lib/python3.10/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (6.2)
Requirement already satisfied: nest-asyncio in ./venv/lib/python3.10/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (1.5.6)
Requirement already satisfied: jupyter-client>=6.1.12 in ./venv/lib/python3.10/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (8.0.3)
Requirement already satisfied: comm>=0.1.1 in ./venv/lib/python3.10/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (0.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in ./venv/lib/python3.10/site-packages (from jedi>=0.16->ipython>=5.5.0->pycaret) (0.8.3)
Requirement already satisfied: attrs>=17.4.0 in ./venv/lib/python3.10/site-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (22.2.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in ./venv/lib/python3.10/site-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (0.19.3)
Requirement already satisfied: platformdirs>=2.5 in ./venv/lib/python3.10/site-packages (from jupyter-core->nbformat>=4.2.0->pycaret) (3.1.0)
Requirement already satisfied: ansi2html in ./venv/lib/python3.10/site-packages (from jupyter-dash>=0.4.2->plotly-resampler>=0.7.2.2->pycaret) (1.9.0rc1)
Requirement already satisfied: retrying in ./venv/lib/python3.10/site-packages (from jupyter-dash>=0.4.2->plotly-resampler>=0.7.2.2->pycaret) (1.3.4)
Requirement already satisfied: ptyprocess>=0.5 in ./venv/lib/python3.10/site-packages (from pexpect>4.3->ipython>=5.5.0->pycaret) (0.7.0)
Requirement already satisfied: wcwidth in ./venv/lib/python3.10/site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=5.5.0->pycaret) (0.2.6)
Requirement already satisfied: asttokens>=2.1.0 in ./venv/lib/python3.10/site-packages (from stack-data->ipython>=5.5.0->pycaret) (2.2.1)
Requirement already satisfied: pure-eval in ./venv/lib/python3.10/site-packages (from stack-data->ipython>=5.5.0->pycaret) (0.2.2)
Requirement already satisfied: executing>=1.2.0 in ./venv/lib/python3.10/site-packages (from stack-data->ipython>=5.5.0->pycaret) (1.2.0)
Requirement already satisfied: click>=8.0 in ./venv/lib/python3.10/site-packages (from Flask>=1.0.4->dash<3.0.0,>=2.2.0->plotly-resampler>=0.7.2.2->pycaret) (8.1.3)
Requirement already satisfied: itsdangerous>=2.0 in ./venv/lib/python3.10/site-packages (from Flask>=1.0.4->dash<3.0.0,>=2.2.0->plotly-resampler>=0.7.2.2->pycaret) (2.1.2)

In [4]:
import numpy as np
import pandas as pd

from pycaret.regression import *
from pycaret.utils import *
from sklearn.metrics import mean_squared_error

In [5]:
dataset = pd.read_csv('datasets/big-table-train.csv')
dataset = dataset.dropna()
dataset = dataset.drop(columns=['Id', 'completed_time'])
dataset

,running_time,route_distance_km,delta_time,node_start,node_finish,distance,speed,average_speed,lon_start,lat_start,lon_end,lat_end
0,2022-01-24 18:30:21,3.740,862.0,10980417,4768348185,31.771489,30.0,29.537736,30.738275,46.468524,30.738097,46.468266
3,2022-01-24 18:30:21,3.740,862.0,10980431,5125489557,50.034390,29.0,29.537736,30.739016,46.471232,30.738957,46.470784
4,2022-01-24 18:30:21,3.740,862.0,10980432,5213300015,13.453126,30.0,29.537736,30.739248,46.472665,30.739226,46.472545
5,2022-01-24 18:30:21,3.740,862.0,10980471,2133368054,15.994386,32.0,29.537736,30.739472,46.474116,30.739449,46.473965
7,2022-01-24 18:30:21,3.740,862.0,10980545,5213015312,47.897295,30.0,29.537736,30.740532,46.481082,30.740463,46.480654
...,...,...,...,...,...,...,...,...,...,...,...,...
401294,2022-01-24 14:57:46,2.323,819.0,5225320781,6570497841,11.114741,18.0,23.222222,30.728533,46.410472,30.728391,46.410452
401295,2022-01-24 14:57:46,2.323,819.0,6570497841,352681459,13.232601,21.0,23.222222,30.728391,46.410452,30.728222,46.410428
401296,2022-01-24 14:57:46,2.323,819.0,6570497861,1986778509,41.040972,17.0,23.222222,30.723430,46.409822,30.723333,46.410186
401297,2022-01-24 14:57:46,2.323,819.0,6573889998,312712557,20.488592,19.0,23.222222,30.726552,46.417987,30.726339,46.417987
401298,2022-01-24 14:57:46,2.323,819.0,6579524517,5225320781,8.073702,19.0,23.222222,30.728635,46.410485,30.728533,46.410472

In [6]:
data = dataset.sample(frac=0.9, random_state=786)
data_unseen = dataset.drop(data.index)

data.reset_index(drop=True, inplace=True)
data_unseen.reset_index(drop=True, inplace=True)

print('Data for Modeling: ' + str(data.shape))
print('Unseen Data For Predictions: ' + str(data_unseen.shape))

Data for Modeling: (297058, 12)
Unseen Data For Predictions: (33007, 12)

In [7]:
s = setup(data = data, target = 'delta_time', session_id=123)

In [8]:
models()

,Name,Reference,Turbo
ID,,,
lr,Linear Regression,sklearn.linear_model._base.LinearRegression,True
lasso,Lasso Regression,sklearn.linear_model._coordinate_descent.Lasso,True
ridge,Ridge Regression,sklearn.linear_model._ridge.Ridge,True
en,Elastic Net,sklearn.linear_model._coordinate_descent.Elast...,True
lar,Least Angle Regression,sklearn.linear_model._least_angle.Lars,True
llar,Lasso Least Angle Regression,sklearn.linear_model._least_angle.LassoLars,True
omp,Orthogonal Matching Pursuit,sklearn.linear_model._omp.OrthogonalMatchingPu...,True
br,Bayesian Ridge,sklearn.linear_model._bayes.BayesianRidge,True
ard,Automatic Relevance Determination,sklearn.linear_model._bayes.ARDRegression,False
par,Passive Aggressive Regressor,sklearn.linear_model._passive_aggressive.Passi...,True
ransac,Random Sample Consensus,sklearn.linear_model._ransac.RANSACRegressor,False
tr,TheilSen Regressor,sklearn.linear_model._theil_sen.TheilSenRegressor,False
huber,Huber Regressor,sklearn.linear_model._huber.HuberRegressor,True
kr,Kernel Ridge,sklearn.kernel_ridge.KernelRidge,False
svm,Support Vector Regression,sklearn.svm._classes.SVR,False
knn,K Neighbors Regressor,sklearn.neighbors._regression.KNeighborsRegressor,True
dt,Decision Tree Regressor,sklearn.tree._classes.DecisionTreeRegressor,True
rf,Random Forest Regressor,sklearn.ensemble._forest.RandomForestRegressor,True
et,Extra Trees Regressor,sklearn.ensemble._forest.ExtraTreesRegressor,True
ada,AdaBoost Regressor,sklearn.ensemble._weight_boosting.AdaBoostRegr...,True
gbr,Gradient Boosting Regressor,sklearn.ensemble._gb.GradientBoostingRegressor,True
mlp,MLP Regressor,sklearn.neural_network._multilayer_perceptron....,False
lightgbm,Light Gradient Boosting Machine,lightgbm.sklearn.LGBMRegressor,True
dummy,Dummy Regressor,sklearn.dummy.DummyRegressor,True

In [9]:
best_model = create_model('lightgbm')

In [10]:
tuned_best_model = tune_model(best_model)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [11]:
# validate on unseen data
unseen_predictions = predict_model(tuned_best_model, data=data_unseen)
unseen_predictions

,running_time,route_distance_km,node_start,node_finish,distance,speed,average_speed,lon_start,lat_start,lon_end,lat_end,delta_time,prediction_label
0,2022-01-24 18:30:21,3.740,290891853,4441087524,59.342655,22.0,29.537735,30.736652,46.482773,30.737408,46.482719,862.0,856.943827
1,2022-01-24 18:30:21,3.740,2479719949,6806370974,18.176003,16.0,29.537735,30.732115,46.456554,30.732332,46.456490,862.0,845.489247
2,2022-01-24 18:30:21,3.740,4786018208,4845924947,30.463514,42.0,29.537735,30.733671,46.463360,30.733461,46.463127,862.0,844.728967
3,2022-01-24 18:30:21,3.740,5213300078,289702925,35.789761,31.0,29.537735,30.740143,46.478451,30.740093,46.478130,862.0,863.990974
4,2022-01-24 18:30:21,3.740,5214555660,6583283185,37.305794,34.0,29.537735,30.737041,46.467083,30.736790,46.466797,862.0,850.302635
...,...,...,...,...,...,...,...,...,...,...,...,...,...
33002,2022-01-24 14:57:46,2.323,352682638,4374904173,155.209946,20.0,23.222221,30.728752,46.418114,30.726734,46.417999,819.0,800.529056
33003,2022-01-24 14:57:46,2.323,2142884470,352682638,95.333694,25.0,23.222221,30.729990,46.418190,30.728752,46.418114,819.0,795.914618
33004,2022-01-24 14:57:46,2.323,3912884426,352681477,37.623245,23.0,23.222221,30.727289,46.410301,30.726809,46.410240,819.0,794.843221
33005,2022-01-24 14:57:46,2.323,4775806433,352666805,95.083893,27.0,23.222221,30.737497,46.418636,30.735846,46.418541,819.0,794.751656
33006,2022-01-24 14:57:46,2.323,5225320781,6570497841,11.114741,18.0,23.222221,30.728533,46.410473,30.728392,46.410454,819.0,804.078036

In [12]:
mean_squared_error(unseen_predictions['delta_time'], unseen_predictions['prediction_label'], squared=False)

14.556064133911347

### Model predictions on test data

In [27]:
big_table_test_df = pd.read_csv("datasets/big-table-test.csv")

In [28]:
submission_df = pd.read_csv("datasets/submission.csv")
submission_df

         Id  Predicted
0      6198          0
1      6417          0
2      7054          0
3      9628          0
4     10283          0
..      ...        ...
995  525706          0
996  526604          0
997  527213          0
998  527520          0
999  527850          0

[1000 rows x 2 columns]

In [29]:
submission_predictions = predict_model(tuned_best_model, data=big_table_test_df)
submission_predictions

,Id,running_time,route_distance_km,node_start,node_finish,distance,speed,average_speed,lon_start,lat_start,lon_end,lat_end,prediction_label
0,6198,2022-01-24 03:38:30,4.744,8952394129,8952394128,138.795715,37.0,47.573032,NaN,NaN,NaN,NaN,661.215529
1,6198,2022-01-24 03:38:30,4.744,2059503754,4548172320,95.273003,33.0,47.573032,30.724094,46.431126,30.724951,46.431747,688.470153
2,6198,2022-01-24 03:38:30,4.744,2059504508,2059503754,137.647888,35.0,47.573032,30.722883,46.430222,30.724094,46.431126,689.229677
3,6198,2022-01-24 03:38:30,4.744,1570776534,1977018578,4.383708,30.0,47.573032,NaN,NaN,NaN,NaN,661.664622
4,6198,2022-01-24 03:38:30,4.744,1977018580,1977018576,24.195593,31.0,47.573032,30.725685,46.437679,30.725998,46.437653,690.700106
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102537,527850,2022-01-24 18:45:20,10.127,290891780,5957304897,40.933262,45.0,48.289474,30.735411,46.470631,30.735943,46.470589,679.986975
102538,527850,2022-01-24 18:45:20,10.127,5957304897,3902949792,63.421597,34.0,48.289474,30.735943,46.470589,30.736767,46.470528,670.106380
102539,527850,2022-01-24 18:45:20,10.127,3902949792,290404192,4.303810,16.0,48.289474,30.736767,46.470528,30.736851,46.470520,667.992447
102540,527850,2022-01-24 18:45:20,10.127,290404192,5957304888,5.250640,37.0,48.289474,30.736851,46.470520,30.736845,46.470474,670.106380
102541,527850,2022-01-24 18:45:20,10.127,290404197,290891780,116.290298,41.0,48.289474,30.733902,46.470745,30.735411,46.470631,672.724194

In [30]:
predicted_df = submission_predictions[['Id', "prediction_label"]].drop_duplicates(subset=["Id"], keep='first')
predicted_df

            Id  prediction_label
0         6198        661.215529
89        6417        677.967213
261       7054        676.752201
332       9628        766.346661
511      10283        679.669995
...        ...               ...
102016  525706        655.662647
102076  526604        688.685152
102167  527213        617.559343
102292  527520        623.181735
102314  527850        686.833196

[1000 rows x 2 columns]

In [31]:
submission_df = submission_df \
    .merge(predicted_df, on='Id', how='inner') \
    .drop_duplicates(subset=["Id"], keep='first')
submission_df

         Id  Predicted  prediction_label
0      6198          0        661.215529
1      6417          0        677.967213
2      7054          0        676.752201
3      9628          0        766.346661
4     10283          0        679.669995
..      ...        ...               ...
995  525706          0        655.662647
996  526604          0        688.685152
997  527213          0        617.559343
998  527520          0        623.181735
999  527850          0        686.833196

[1000 rows x 3 columns]

In [32]:
submission_df["Predicted"] = submission_df["prediction_label"]
submission_df.drop("prediction_label", axis=1, inplace=True)

In [33]:
submission_df.to_csv("datasets/submission.csv", index=False)

## Submission phase

Guide: https://www.kaggle.com/code/derrickmwiti/how-to-make-submissions-using-kaggle-s-api/notebook

In [ ]:
!pip install kaggle

In [ ]:
import os
os.environ["KAGGLE_USERNAME"]="beardimon"
os.environ["KAGGLE_KEY"]="22adc3776f244a54f4732bf8dfb077eb"

In [ ]:
!kaggle competitions submit -c int20h-2023-hackathon  -f ./datasets/submission.csv -m "Baseline"

In [ ]:
!kaggle competitions leaderboard -c int20h-2023-hackathon --show

In [ ]:
!kaggle competitions submissions -c int20h-2023-hackathon